.nav-item {
  font-size:16px;
line-height:30pt;
color: #000000;
}

.promo-item-title {
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: bold;
line-height: 30pt;
color:#000000;
}

.promo-item-description {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 24pt;
color:#283136;
}
.about-lead {
font-size:45px;
line-height:45pt;
color: #000000;
}

.about-description {
font-size:16px;
line-height:24pt;
color: #000000;
}

.about-subtitle {
  font-weight: bold;
font-size:16px;
line-height:24pt;
color: #283136;
}
.about-item {
font-size:16px;
line-height:24pt;
color: #283136;
}

.about-options-value {
  font-weight: bold;
  font-size:45px;
line-height:10,06pt;
color: #283136;
}

.footer-call-title {
font-weight: bold;
  font-size:36px;
line-height:36pt;
color: #000000;
}

.footer-call-discount {
  font-family: 'Roboto', sans-serif;
   font-size:16px;
line-height:22pt;
color: #444444;
}

h1 {
font-weight: bold;
  font-size:55px;
line-height:55pt;
color: #000000;
}

.catalog-subtitle {
  font-weight: bold;
  font-size:18px;
line-height:30pt;
color: #000000;
}

.sort-link {
  font-size:14px;
line-height:18pt;
color: #000000;
opacity: 0.5;
}
